.Main-title{
    margin: 0, auto;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 150;
    
}

.Second-title{
    margin: 0, auto;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 150;
    
}

.card-text, .card-body{
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 40px;
}


.list{
    font-size: 12px;
    line-height: 20px;
}