
.App-logo {
  height: 15vmin;
  pointer-events: none;
  margin-top: 10px; 
  /* float: left; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .header {
  background-color: #dfcaab;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */

.nav{
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  /* margin-bottom: 10px; */
  float: right;
}

.nav-link {
  color: black;
  margin-top: 25px;
  /* font-weight: .5px;
  font-size: .9rem; */
  /* height: 50px; */
  /* border-bottom: solid transparent; */
  /* display: inline-block; */
  /* margin-left: 100px; */
  float: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}


